@model List<HR_Lesson3_Fall_2011.web.Models.Entities.Employee>
@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<ul>
    @foreach (var employee in Model)
    {
        <li>
            @Html.ActionLink(employee.Name, "Details", new { id = employee.Id }, new {@class="employee-link" })
            <div class="employee-details alert alert-success">
                <p>@employee.Bio</p>
                <strong>@employee.DateHired.ToShortDateString()</strong>
            </div>
        </li>
    }
</ul>
